- const registration = "soon"; // [soon, open, on-site, closed]
- const registrationFormLink = "";
- const mentorFormLink = "";
- const teamRegistrationFormLink = "";
- const devpostLink = "";
- const discordLink = ""
- const mentorHelpFormLink = "";
- const hackathonReport2022 = "https://www.canva.com/design/DAFSJQM4jHg/kbgyGcvv7XUVDrNFPTK5WA/edit?utm_content=DAFSJQM4jHg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"