- const registration = "open"; // [open, on-site, closed]
- const registrationFormLink = "https://pitt.co1.qualtrics.com/jfe/form/SV_4NuSFRhd5b84FIq";
- const teamRegistrationFormLink = "https://pitt.co1.qualtrics.com/jfe/form/SV_eMdJEPjsTyfUVj8";
- const devpostLink = "https://pittchallenge2022.devpost.com/";
- const mentorHelpFormLink = "https://forms.gle/cKxgtQSzAoLzioTV9";
