- const registration = "soon"; // [soon, open, on-site, closed]
- const registrationFormLink = "";
- const mentorFormLink = "";
- const teamRegistrationFormLink = "";
- const devpostLink = "";
- const discordLink = ""
- const mentorHelpFormLink = "";
