- const registration = "open"; // [soon, open, on-site, closed]
- const registrationFormLink = "https://pitt.co1.qualtrics.com/jfe/form/SV_cIREdeBv2JmRVdA";
- const mentorFormLink = "";
- const teamRegistrationFormLink = "";
- const devpostLink = "https://pittchallenge2023.devpost.com";
- const discordLink = ""
- const mentorHelpFormLink = "";