doctype html
include _global
head
    meta(charset='UTF-8')
    title Mentor Help
    meta(http-equiv='Refresh' content="0; url='" + mentorHelpFormLink + "'")
script window.location.replace("#{mentorHelpFormLink}");
