- const registration = "open"; // [soon, open, on-site, closed]
- const registrationFormLink = "https://pitt.co1.qualtrics.com/jfe/form/SV_cIREdeBv2JmRVdA";
doctype html
html
  include z_index_src/head
  body
    #wrapper
      header#header.alt

        //- MLH Banners
        span
          a#mlh-trust-badge(href='https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2024-season&utm_content=yellow' target='_blank')
            img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2024/mlh-trust-badge-2024-yellow.svg' alt='Major League Hacking 2024 Hackathon Season' style='width:100%' loading="lazy")

        span.logo
          img(src='z_images/pitt-challenge.svg' alt='' width='20%' height='20%' loading="lazy")

        h1 The Pitt Challenge 2023
        h2 A hackathon sponsored by the University of Pittsburgh School of Pharmacy

        if (registration === "soon")
          p(style="color:#f8b92a;font-weight:500; margin-bottom: 0px;") [Coming Soon... Fall 2023]
          a(style="color:white;font-weight:150;text-decoration: underline;", href='z_files/pitt-challenge-2022-report.pdf', target="blank") In the meantime, check out the results of The Pitt Challenge 2022!
        if (registration === "open")
          p(style='margin: 0 0 0.5em 0')  Occurring Sept 15th - 17th in person! (42 hours)
          a.button(style='background-color:#e63760;' href=registrationFormLink) Register Now!
          p(style='font-size: smaller;')  [ Limited seats available. ]
        if (registration === "on-site")
          p(style="color:tomato;font-weight:500") [On-Site registration open in Benedum Hall.]
        if (registration === "closed")
          p(style="color:tomato;font-weight:500") [Registration is now closed.]


      nav#nav
        ul
          li
            a.active(href='#intro' style='font-size: 100%') Introduction
          li
            a(href='#schedule' style='font-size: 100%') Schedule
          li
            a(href='#challenges' style='font-size: 100%') Tracks
          li
            a(href='#prizes' style='font-size: 100%') Prizes
          li
            a(href='#faq' style='font-size: 100%') FAQ
          li
            a(href='#ourTeam' style='font-size: 100%') Our Team
          li
            a(href='#sponsors' style='font-size: 100%') Sponsors
      #main
        include z_index_src/introduction
        include z_index_src/schedule
        include z_index_src/tracks
        include z_index_src/prizes
        include z_index_src/faq
        include z_index_src/ourTeam
        include z_index_src/sponsors
        include z_index_src/footer

  //- Scripts
  script(defer type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js' integrity='sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(defer type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js' integrity='sha512-eFxuATJvNeUrxxoS/5AeVi6X4wY6IdI9kAtRbuGyD2XTLoJ/R9uBce9lsf2UyvY0tQYlUkbs1wV9jhOPxANCzg==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(defer type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js' integrity='sha512-LpUt6fJuTMm3o0q5w8ydMXpGho2tqAoaRu6MP6Tt0X0Klct8xlToutBk7Wh51RL9n7/QSplQnrUA1U3S5YzMng==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(defer type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mailgo/0.12.2/mailgo.dark.min.js' integrity='sha512-I+Um09pzUsJIGHiF9fWPWXB7r3BJb2hyIH270A1Qk/KNQuSCiVlgDHYUleOI4o+di+1KlBTA8hMVWX2aKkYU4Q==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(defer type="text/javascript" src='z_js/proportional-image.min.js')
  script(defer type="text/javascript" src='z_js/main.min.js')

  //- Analytics
  script(defer type="text/javascript" id="hs-script-loader" async src="https://js-na1.hs-scripts.com/40016037.js")
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-WSB34N8KJQ')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-WSB34N8KJQ');
