section#prizes.main.special
    header.major
        h2 Prizes
    h2
        b(style='color: gray')  Grand Prizes
    ul.features
        li
            h3
                b 1st Place
            p
                b $3000
        li
            h3
                b 2nd Place
            p
                b $2000
        li
            h3
                b 3rd Place
            p
                b $1000
    h2
        b(style='color: gray')  Additional Prizes available for Track Winners (TBD)*
    //
      <ul class="features">
      <li>
      <h3><b>Lorum Ipsum Dolor</b></h3>
      <p>Lorum Ipsum Dolor</p>
      </li>
      <li>
      <h3><b>Lorum Ipsum Dolor</b></h3>
      <img src="images/prizes/Lorum Ipsum Dolor.png" height=61% width=61% alt="Lorum Ipsum Dolor">
      <p> $123.45 </p>
      </li>
      </ul>
    p
        | *Winning participants of each track will receive a cash prize, while organizers may provide a prize item in place of cash.
    // <p> *Winning participants of each track will receive a cash prize, while organizers may provide a prize item in place of cash from the catalog below. </p>
