section#schedule.main
    .spotlight
        .content
            header.major
                h2 2022 Schedule is to be determined
            h3
                b Location:
                |  Benedum Hall*
            h3
                b Timezone:
                |  Eastern Standard Time (EST)
            p
                | *All participants seeking the Pitt Challenge 2022, $100.00 travel reimbursement and are traveling
                | by bus, train, or plane, must present a receipt of travel at the time of onsite registration on Friday, October 21st
                | and complete a w9 per University policies.
                | Those who are traveling by car seeking travel reimburse must also complete an appropriate w9 form at the time of onsite registration
                | on Friday, October 21st to be provided up to and not to  exceed $100.00 toward their roundtrip milage.
                strong Only the first 100 onsite registrants will receive travel reimbursement.
            .table-wrapper
                table(style='margin-bottom:0')
                    thead
                        tr
                            th Date
                            th Description
                            th Time
                    tbody
                        //
                          <tr>
                          <td>Friday 10/22</td>
                          <td>Registration - Join The Discord / Sign in / Fill Out Form</td>
                          <td>6:00 - 7:00 PM&nbsp;&nbsp;</td>
                          </tr>
                          <tr>
                          <td style="font-weight: bold; color: rgb(206, 67, 43)">Friday 10/22</td>
                          <td style="font-weight: bold; color: rgb(206, 67, 43)">Team/Track Finalization Due</td>
                          <td style="font-weight: bold; color: rgb(206, 67, 43)">10:30 PM</td>
                          </tr>
                          <tr>
                          <td style="font-weight: bold; color: rgb(206, 67, 43)">Sunday 10/24</td>
                          <td style="font-weight: bold; color: rgb(206, 67, 43)">DevPost Submission Due</td>
                          <td style="font-weight: bold; color: rgb(206, 67, 43)">11:45 AM</td>
                          </tr>
                          <tr>
                          <td>Sunday 10/24</td>
                          <td>Closing Ceremony and Awards</td>
                          <td>3:00 PM</td>
                          </tr>
