section#challenges.main.special
    .spotlight
        .content
            header.major
                h2 2022 Tracks will be set soon
            //
              <div class="row">
              <div class="col-md-4">
              <ul class="list-group vcenter">
              <li class="list-group-item">Virtual Experiential Learning (Ex: Virtual Compounding
              Lab)</li>
              <li class="list-group-item">Burnout in Healthcare Workers</li>
              <li class="list-group-item">Remote Patient Interaction</li>
              <li class="list-group-item">Mobile Health Records (Ex: Vaccine Card Verification)
              </li>
              <li class="list-group-item">Virtual Medical Simulation</li>
              <li class="list-group-item">Intelligent Personal Assistants</li>
              <li class="list-group-item">Improving Health Literacy</li>
              <li class="list-group-item">Point of Care Testing</li>
              <li class="list-group-item">Big-Data/Machine Learning In Healthcare</li>
              <li class="list-group-item">Mental Health During Social Isolation</li>
              </ul>
              </div>
              <div class="col-xs-12 col-md-8">
              <div class="embed-responsive embed-responsive-16by9">
              <iframe id="challenge-vids" class="embed-responsive-item"
              src="https://www.youtube.com/embed/iaSdqH-Y3Co" frameborder="0"
              allowfullscreen></iframe>
              </div>
              </div>
              </div>
              </div>
              </div>