// Inspired by Proportional Image Normalization Formula: https://codepen.io/danpaquette/pen/jXpbQK
// Using the proportional-image.js script for automatic resizing
section#attendees.main.special
    //
      <header class="major">
      <h2>Individual Sponsors</h2>
      </header>
    //
      <div class="row uniform">
      <span class="image fit">
      <h3>Carl Gainor, Ph.D, JD</h3>
      </span>
      </div>
    header.major
        h2 Sponsors
        a.attendees-images(target="_blank" href='http://www.pharmacy.pitt.edu/')
            img.attendees-images(src='z_images/logos/pitt-pharm-logo.png' alt='Pitt School of Pharmacy')
        a.attendees-images(target="_blank" href='https://www.wolframalpha.com/')
            img.attendees-images(src='z_images/logos/WolframAlpha.png' alt='Wolfram Alpha')
        a.attendees-images(target="_blank" href='https://www.patientsafetytech.com/')
            img.attendees-images(src='z_images/logos/Challenge_Logo_stacked_RGB_gradient.png' alt='Wolfram Alpha')