section#faq.main
    header.major
        h2 FAQ

    header.minor
        h3 What is the Pitt Challenge?
        p The Pitt Challenge is an event held in Pittsburgh to bring together students from many disciplines to solve problems in the health field.

    header.minor
        h3  What is a hackathon?
        p A hackathon is an invention marathon. Students come together to build cool software &amp; hardware hacks over 24-48 hours. It&rsquo;s very beginner friendly.

    header.minor
        h3 How much does attending the Pitt Challenge cost?
        p Nothing. Attending the Pitt Challenge is free.

    header.minor
        h3 Will I get swag?
        p Yes! We will ship you a Pitt Challenge T-Shirt free of charge and more!

    header.minor
        h3 Can we start early?
        p According to MLH guidelines, we ask that you start your projects at the beginning of the hackathon.

    header.minor
        h3 Who can attend the Pitt Challenge?
        p Students who are currently enrolled at a college/university are welcome to attend. Unfortunately, we are not able to accept high school hackers. Must be 18+ to compete.
        p Student of ALL majors are welcome! We are looking for thinkers and problem solvers from many backgrounds.

    header.minor
        h3 How big are teams? Do I need to find a team before the Pitt Challenge?
        p Teams can have up to 4 members. Don&apos;t worry about creating a team ahead of time! We will have a team formation session at the beginning of the hackathon.

    header.minor
        h3 Who owns the ideas?
        p All ideas are property of the team that creates them. Pitt will not own your IP.

    header.minor
        h3 Will the event be held virtually or in-person?
        p Currently, the Pitt Challenge is set to be in-person!

    header.minor
        h3 What is Major League Hacking?
        p Major League Hacking is the official student hackathon league in North America &amp; Europe. They work with over 200 Member Events to empower over 70,000 students every year.

    header.minor
        h3 Is there a code of conduct?
        p Yes, the Pitt Challenge will follow the
            a(href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf') MLH Code of Conduct.

    header.minor
        h3 What forms do I need if I win?
        p We will have all winners fill out either a W8 or W9 for their prizes.

    header.minor
        h3 Is there travel reimbursement?
        p To be determined. We will update this page as soon as we know.
        //p
        //    | *All participants seeking the Pitt Challenge's $100.00 travel reimbursement and are traveling
        //    | by bus, train, or plane, must present a receipt of travel at the time of onsite registration
        //    | on Friday, October 21st and complete a w9 per University policies.
        //    | Those who are traveling by car seeking travel reimburse must also complete an appropriate
        //    | w9 form at the time of onsite registration on Friday, October 21st to be provided up to and
        //    | not to exceed $100.00 toward their roundtrip milage.
        //    strong
        //        | Only the first 100 onsite registrants who request travel reimbursement and successfully submit
        //        | their project will receive travel reimbursement.
    header.minor
        h3 Any other question?
        p Send a email at &nbsp;
            a(href='mailto:pittchallenge@outlook.com') pittchallenge@outlook.com