section#faq.main.special
    header.major
        h2 FAQ
    ul.text-left
        h4
            | What is the Pitt Challenge?
            ul
                li
                    | The Pitt Challenge is an event held in Pittsburgh to bring together students from many
                    | disciplines to solve problems in the health field.
        h4
            | What is a hackathon?
            ul
                li
                    | A hackathon is an invention marathon. Students come together to build cool software &amp;
                    | hardware hacks over 24-48 hours. It&rsquo;s very beginner friendly.
        h4
            | How much does attending the Pitt Challenge cost?
            ul
                li
                    | Nothing. Attending the Pitt Challenge is free.
        h4
            | Will I get swag?
            ul
                li
                    | Yes! We will ship you a Pitt Challenge 2022 T-Shirt free of charge and more!
        h4
            | Can we start early?
            ul
                li
                    | According to MLH guidelines, we ask that you start your projects at the beginning of the
                    | hackathon.
        h4
            | Who can attend the Pitt Challenge?
            ul
                li
                    | Students who are currently enrolled at a college/university are welcome to attend.
                    | Unfortunately, we are not able to accept high school hackers. Must be 18+ to compete.
                li
                    | Student of ALL majors are welcome! We are looking for thinkers and problem solvers from
                    | many backgrounds.
        h4
            | How big are teams? Do I need to find a team before the Pitt Challenge?
            ul
                li
                    | Teams can have up to 4 members. Don&apos;t worry about creating a team ahead of time! We will
                    | have a team formation session at the beginning of the hackathon.
        h4
            | Who owns the ideas?
            ul
                li All ideas are property of the team that creates them. Pitt will not own your IP.
        h4
            | Will the event be held virtually or in-person?
            ul
                li
                    | Currently, the Pitt Challenge is set to be in-person!
        // Add more information about location/online discussions here
        h4
            | What is Major League Hacking?
            ul
                li
                    | Major League Hacking is the official student hackathon league in North America &amp; Europe.
                    | They work with over 200 Member Events to empower over 70,000 students every year.
        h4
            | Is there a code of conduct?
            ul
                li
                    | Yes, the Pitt Challenge will follow the
                    a(href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf') MLH Code of Conduct.
        h4
            | What forms do I need if I win?
            ul
                li We will have all winners fill out either a W8 or W9 for their prizes.
