head
    title The Pitt Challenge

    meta(charset='utf-8')
    //- Primary Meta Tags
    title The Pitt Challenge
    meta(name='title' content='The Pitt Challenge')
    meta(name='description' content='The Pitt Challenge is 42-hr hackathon sponsored by the University of Pittsburgh School of Pharmacy')
    //- Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://pittchallenge.com/')
    meta(property='og:title' content='The Pitt Challenge')
    meta(property='og:description' content='The Pitt Challenge is 42-hr hackathon sponsored by the University of Pittsburgh School of Pharmacy')
    meta(property='og:image' content='z_favicon/pitt-challenge.png')
    //- Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://pittchallenge.com/')
    meta(property='twitter:title' content='The Pitt Challenge')
    meta(property='twitter:description' content='The Pitt Challenge is 42-hr hackathon sponsored by the University of Pittsburgh School of Pharmacy')
    meta(property='twitter:image' content='z_favicon/pitt-challenge.png')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='preload' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
    link(rel='preload' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' as='style' onload="this.onload=null;this.rel='stylesheet'")
    link(rel='stylesheet' href='z_sass/main.css')
    noscript
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400")


    link(rel='apple-touch-icon' sizes='180x180' href='z_favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='z_favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='z_favicon/favicon-16x16.png')
    link(rel='manifest' href='z_favicon/site.webmanifest')
    link(rel='mask-icon' href='z_favicon/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='z_favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='z_favicon/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
