section#intro.main
    .spotlight
        .content
            header.major
                h2 This is our challenge to you.
                p
                    | Join us on October 21-22, 2022 to engage in critical conversations
                    | regarding healthcare and pharmacy with industry giants and leading researchers.
                    | We want everyone - pharmacy students, engineers, designers, and more - to come and help
                    | solve some of the biggest challenges facing the world today.
            header.major
                h2 For Healthcare Students:
                p
                    | Even if you have no coding experience, your team will need your insights into the world of
                    | healthcare and pharmacy. Keep in mind that your fellow
                    | participants are students like yourself, and everyone is trying to work together to learn
                    | and develop amazing ideas.
            header.major
                h2 For Tech-Based Students:
                p
                    | Even if you have no experience with healthcare or pharmacy, your team will need your ability
                    | to rapidly produce software from ideas. Your team
                    | will provide the healthcare background that you need to succeed. Remember that everyone will
                    | be learning to build something together.

            .videoWrapper
                iframe.video(src='https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fpitt.hosted.panopto.com%2FPanopto%2FPages%2FEmbed.aspx%3Fid%3D343c84d7-4015-48a9-8547-af0e01629bd3%26autoplay%3Dfalse%26offerviewer%3Dtrue%26showtitle%3Dtrue%26showbrand%3Dtrue%26captions%3Dfalse%26interactivity%3Dall&data=05%7C01%7CROW62%40pitt.edu%7Cc9134605b111461a16a508da9506518d%7C9ef9f489e0a04eeb87cc3a526112fd0d%7C1%7C0%7C637986151610014027%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=2KEDcToJzCMc%2FtxBLrNddM8dY1DNQO03uluLMLTcm8w%3D&reserved=0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
