section#ourTeam.main
    header.major
        h2 Our Team

    section#teamMembers
        a(href="https://www.linkedin.com/in/ravipatelm/")
            article.teamMember
                img(src='z_images/team/ravi.webp' alt='Ravi Patel')
                header.minor
                    h3 Ravi Patel
        a(href="https://www.linkedin.com/in/ian-foo-81895a1ab/")
            article.teamMember
                img(src='z_images/team/ian.webp' alt='Ian Foo')
                header.minor
                    h3 Ian Foo

        article.teamMember.break
        a(href="https://www.linkedin.com/in/kritrr/")
            article.teamMember
                img(src='z_images/team/krit.webp' alt='Ian Foo')
                header.minor
                    h3 Krit Ravichander
        a(href="https://www.linkedin.com/in/rohaan-wasim/")
            article.teamMember
                img(src='z_images/team/rohaan.webp' alt='Ian Foo')
                header.minor
                    h3 Rohaan Wasim
        a(href="https://www.linkedin.com/in/tianyizheng02/")
            article.teamMember
                img(src='z_images/team/tianyi.webp' alt='Ian Foo')
                header.minor
                    h3 Tianyi Zheng
        a(href="https://www.linkedin.com/in/quentinrl/")
            article.teamMember
                img(src='z_images/team/quentin.webp' alt='Ian Foo')
                header.minor
                    h3 Quentin Lauro
        a(href="https://vivswan.github.io/")
            article.teamMember
                img(src='z_images/team/vivswan.webp' alt='Ian Foo')
                header.minor
                    h3 Vivswan Shah
