section#ourTeam.main
    header.major
        h2 Our Team

    section#teamMembers
        article.teamMember
            img(src='z_images/team/ravi.webp' alt='Ravi Patel')
            header.minor
                h3 Ravi Patel
        article.teamMember
            img(src='z_images/team/ian.webp' alt='Ian Foo')
            header.minor
                h3 Ian Foo
        article.teamMember.break
        article.teamMember
            img(src='z_images/team/krit.webp' alt='Ian Foo')
            header.minor
                h3 Krit Ravichander
        article.teamMember
            img(src='z_images/team/rohaan.webp' alt='Ian Foo')
            header.minor
                h3 Rohaan Wasim
        article.teamMember
            img(src='z_images/team/tianyi.webp' alt='Ian Foo')
            header.minor
                h3 Tianyi Zheng
        article.teamMember
            img(src='z_images/team/vivswan.webp' alt='Ian Foo')
            header.minor
                h3 Vivswan Shah
