section#prizes.main.special
    header.major
        h2 Prizes
    h2(style='color: gray;font-weight:500') Grand Prizes
    .grandPrices
        .first 1st Place ($3000)
        .second 2nd Place ($2000)
        .third 3rd Place ($1000)
    .wolfram-award
        | Each member of the 1st, 2nd, and 3rd place grand-prize-winning teams will receive a year of
        a(href="https://www.wolfram.com/wolfram-one/") Wolfram|One Personal Edition 
        | plus a one-year subscription to
        a(href="https://www.wolframalpha.com/pro/") Wolfram|Alpha Pro.
    br
    br

    //-h2(style='color: gray;font-weight:500') Additional Prizes available for Track Winners (TBD)*
    h2(style='color: gray;font-weight:500') Additional Prizes available for Track Winners

    .table-wrapper
        table(style='margin-bottom:0;text-align:left')
            thead
                tr
                    th Track
                    th Prize
            tbody
                tr
                    td(style="font-weight:500") Gilead - Patient Engagement
                    td $500.00 Cash Prize
                tr
                    td(style="font-weight:500") Gilead - Health Equity and Diversity
                    td $500.00 Cash Prize
                tr
                    td(style="font-weight:500") Gilead - Where Digital Doesn't Work
                    td $500.00 Cash Prize
                tr
                    td(style="font-weight:500") Pittsburgh Regional Health Initiative - Patient Safety
                    td $500.00 Cash Prize
                tr
                    td(style="font-weight:500") Lifestyle As Medicine
                    td Honeywell HPA100 True HEPA Air Purifier
                tr
                    td(style="font-weight:500") Increasing Health Literacy
                    td Kodak Flik X7 HD Home Theater LED Projector
                tr
                    td(style="font-weight:500") Boosting Vaccination Uptake/Experience
                    td LG SP2 100W Stereo Soundbar (speaker)
                tr
                    td(style="font-weight:500") Going Face-to-Facetime
                    td Amazon Echo Show
                tr
                    td(style="font-weight:500") Big-Data/Machine Learning In Healthcare
                    td JBL Flip 5 Waterproof Bluetooth Speaker
                tr
                    td(style="font-weight:500") Virtual Medical Simulation
                    td JBL Live Pro 2 Noise-Canceling True Wireless In-Ear Headphones

    //-p *Winning participants of each track will receive a cash prize, while organizers may provide a prize item in place of cash.
