section#prizes.main.special
    header.major
        h2 Prizes
    h2(style='color: gray;font-weight:500') Grand Prizes
    .grandPrices
        .first 1st Place ($3000)
        .second 2nd Place ($2000)
        .third 3rd Place ($1000)

    br
    br

    h2(style='color: gray;font-weight:500') Additional Prizes available for Track Winners (TBD)*
