section#prizes.main.special
    header.major
        h2 Prizes
    h2(style='color: gray;font-weight:500') Grand Prizes
    .grandPrices
        .first 1st Place ($3000)
        .second 2nd Place ($2000)
        .third 3rd Place ($1000)
    //.wolfram-award
    //    | Each member of the 1st, 2nd, and 3rd place grand-prize-winning teams will receive a year of
    //    a(href="https://www.wolfram.com/wolfram-one/") Wolfram|One Personal Edition
    //    | plus a one-year subscription to
    //    a(href="https://www.wolframalpha.com/pro/") Wolfram|Alpha Pro.
    br
    br

    //h2(style='color: gray;font-weight:500') Additional Prizes available for Track Winners (TBD)*

    .table-wrapper
        table(style='margin-bottom:0;text-align:left')
            thead
                tr
                    th Track
                    th Prize
            tbody
                tr
                    td(style="font-weight:500") Big data and Machine Learning
                    td JBL Flip 5 Waterproof Bluetooth Speaker
                tr
                    td(style="font-weight:500") Governance and Ethics in AI
                    td Wacom one Creative pen tablet
                tr
                    td(style="font-weight:500") Women’s Health
                    td Google Nest Home Hub
                tr
                    td(style="font-weight:500") Health literacy
                    td Kodak Flik X7 HD Home Theater LED Projector
                tr
                    td(style="font-weight:500") Health Education Game
                    td Bluetooth Yeti Microphone
                tr
                    td(style="font-weight:500") Supporting Caregivers
                    td Roku Ultra 4K
                tr
                    td(style="font-weight:500") Patient safety
                    td Fuji Film Camera
                tr
                    td(style="font-weight:500") Sustainability in Healthcare
                    td Samsung Galaxy Buds
                tr
                    td(style="font-weight:500") Burnout in Healthcare workers
                    td Samsung 8.7" Galaxy Tab A7 Lite
                tr
                    td(style="font-weight:500") Patient engagement
                    td Amazon Echo Show 8

    //-p *Winning participants of each track will receive a cash prize, while organizers may provide a prize item in place of cash.
