section#prizes.main.special
    header.major
        h2 Prizes
    h2(style='color: gray;font-weight:500') Grand Prizes
    .grandPrices
        .first 1st Place ($3000)
        .second 2nd Place ($2000)
        .third 3rd Place ($1000)
    .wolfram-award 
        | Each member of the 1st, 2nd, and 3rd place grand-prize-winning teams will receive a year of 
        a(href="https://www.wolfram.com/wolfram-one/") Wolfram|One Personal Edition
        | plus a one-year subscription to 
        a(href="https://www.wolframalpha.com/pro/") Wolfram|Alpha Pro.
    h2(style='color: gray;font-weight:500') Additional Prizes available for Track Winners (TBD)*
    //-
      <ul class="features">
      <li>
      <h3><b>Lorum Ipsum Dolor</b></h3>
      <p>Lorum Ipsum Dolor</p>
      </li>
      <li>
      <h3><b>Lorum Ipsum Dolor</b></h3>
      <img src="images/prizes/Lorum Ipsum Dolor.png" height=61% width=61% alt="Lorum Ipsum Dolor">
      <p> $123.45 </p>
      </li>
      </ul>
    p *Winning participants of each track will receive a cash prize, while organizers may provide a prize item in place of cash.
