section#schedule.main
    .spotlight
        .content
            header.major
                h2 Tentative Schedule (more events coming soon)
            h3
                b Location: &nbsp;
                a(target="_blank" href="https://goo.gl/maps/NSzuXLkK9T2rtcsn9") Benedum Hall (3700 O'Hara St, Pittsburgh, PA 15213)
            h3
                b Timezone:
                |  Eastern Standard Time (EST)

            br

            .table-wrapper
                table(style='margin-bottom:0')
                    thead
                        tr
                            th Date
                            th Description
                            th Time
                    tbody
                        tr
                            td Oct 21
                            td Registration - Join The Discord / Sign in / Fill Out Form
                            td 5:00 PM
                        tr
                            td Oct 21
                            td Dinner
                            td 5:00 PM - 6:00 PM
                        tr
                            td Oct 21
                            td Opening Ceremonies
                            td 6:00 PM - 7:00 PM
                        tr
                            td Oct 21
                            td Team Formation Event
                            td 7:00 PM
                        tr
                            td Oct 22
                            td Midnight Snack
                            td 12:00 AM
                        tr
                            td Oct 22
                            td Breakfast
                            td 8:00 AM
                        tr
                            td Oct 22
                            td Lunch
                            td 12:00 PM
                        tr
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') Oct 21
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') Team/Track Finalization Due
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') 10:00 PM
                        tr
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') Oct 22
                            td(style='font-weight: bold; color: rgb(206, 67, 43)')
                                a(target="_blank" href=devpostLink ) DevPost Submission Due
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') 5:00 pm
                        tr
                            td Oct 22
                            td Dinner
                            td 5:00 PM - 6:00 PM
                        tr
                            td Oct 22
                            td Judging
                            td 6:00 PM - 7:00 PM
                        tr
                            td Oct 22
                            td Closing Ceremony and Awards
                            td 7:00 PM - 8:00 PM
