section#schedule.main
    Com
    .spotlight
        .content
            header.major
                h2 Schedule
            h3
                b Location: &nbsp;
                    a(target="_blank" href="https://goo.gl/maps/NSzuXLkK9T2rtcsn9" style="text-decoration: underline") Benedum Hall (3700 O'Hara St, Pittsburgh, PA 15213)
            h3
                b Timezone:
                |  Eastern Standard Time (EST)

            br

            .table-wrapper
                table(style='margin-bottom:0')
                    thead
                        tr
                            th Date
                            th Description
                            th Time
                    tbody
                        tr
                            td Sept 15
                            td On-site Check In/Registration - Join The Discord / Sign in / Fill Out Forms
                            td 5:00 PM
                        tr
                            td Sept 15
                            td Dinner
                            td 5:00 PM - 6:00 PM
                        tr
                            td Sept 15
                            td Opening Ceremony
                            td 6:00 PM - 7:00 PM
                        tr
                            td Sept 15
                            td Team Formation Event
                            td 7:00 PM
                        tr
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') Sept 15
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') Team/Track Finalization Deadline
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') 10:00 PM
                        tr
                            td Sept 16
                            td Midnight Snack
                            td 12:00 AM
                        tr
                            td Sept 16
                            td Morning Yoga
                            td 7:00 AM
                        tr
                            td Sept 16
                            td Breakfast
                            td 8:00 AM - 9:00 AM
                        tr
                            td(style='font-weight: bold; color: rgb(34, 59, 201)') Sept 16
                            td(style='font-weight: bold; color: rgb(34, 59, 201)') Pitch Coaching
                            td(style='font-weight: bold; color: rgb(34, 59, 201)') 10:00 AM - 11:00 AM
                        tr
                            td Sept 16
                            td Lunch
                            td 12:00 PM
                        tr
                            td(style='font-weight: bold; color: rgb(34, 59, 201)') Sept 16
                            td(style='font-weight: bold; color: rgb(34, 59, 201)') ChatGPT Adversarial Attack Challenge Begins
                            td(style='font-weight: bold; color: rgb(34, 59, 201)') 1:00 PM
                        tr
                            td Sept 16
                            td Dinner
                            td 5:00 PM - 6:00 PM
                        tr
                            td Sept 17
                            td Midnight Snack
                            td 12:00 AM
                        tr
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') Sept 17
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') ChatGPT Adversarial Attack Challenge Ends
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') 12:00 AM
                        tr
                            td Sept 17
                            td Breakfast
                            td 8:00 AM - 9:00 AM
                        tr
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') Sept 17
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') DevPost Submission Deadline
                            td(style='font-weight: bold; color: rgb(206, 67, 43)') 9:00 am
                        tr
                            td Sept 17
                            td Judging
                            td 9:00 AM - 10:00 AM
                        tr
                            td Sept 17
                            td Closing Ceremony and Awards
                            td 11:00 AM - noon
