section#attendees.main.special
    header.major
        h2 Sponsors

        a.attendees-images(target="_blank" href='http://www.pharmacy.pitt.edu/')
            img.attendees-images(src='z_images/logos/pitt-pharm-logo.png' alt='Pitt School of Pharmacy Logo' data-size=2)
        a.attendees-images(target="_blank" href='https://www.gilead.com/')
            img.attendees-images(src='z_images/logos/Gilead-Logo-Snip.jpg' alt='Gilead Logo' data-size=2)
        a.attendees-images(target="_blank" href='https://mlh.io/')
            img.attendees-images(src='z_images/logos/mlh-logo-color.png' alt='Major League Hacking (MLH) Logo' data-size=2)
        br
        a.attendees-images(target="_blank" href='https://www.wolframalpha.com/')
            img.attendees-images(src='z_images/logos/WolframAlpha.png' alt='Wolfram Alpha Logo' data-size=1.33)
        a.attendees-images(target="_blank" href='https://www.digitalocean.com/')
            img.attendees-images(src='z_images/logos/DO_Logo_Horizontal_Blue.png' alt='Digital Ocean Logo')
        a.attendees-images(target="_blank" href='https://enterprises.upmc.com/')
            img.attendees-images(src='z_images/logos/UPMC_Enterprises.png' alt='UPMC Enterprises Logo' data-size=0.77)
        a.attendees-images(target="_blank" href='https://www.upmchealthplan.com/')
            img.attendees-images(src='z_images/logos/UPMC_3_HealthPlan_H_RGB.jpg' alt='UPMC Health Plan Logo' data-size=0.93)
        a.attendees-images(target="_blank" href='https://www.patientsafetytech.com/')
            img.attendees-images(src='z_images/logos/Patient-Safety-Technology-Challenge.jpg' alt='Patient Safety Technology Challenge Logo' data-size=1.33)
        a.attendees-images(target="_blank" href='https://pyrls.com/')
            img.attendees-images(src='z_images/logos/pyrls-main-lg.png' alt='Pyrls Logo')
        a.attendees-images(target="_blank" href='https://ctsi.pitt.edu/')
            img.attendees-images(src='z_images/logos/ctsi_color.png' alt='Pitt Clinical and Translational Science Institute (CTSI) Logo')