// Inspired by Proportional Image Normalization Formula: https://codepen.io/danpaquette/pen/jXpbQK
// Using the proportional-image.js script for automatic resizing
section#attendees.main.special
    //
      <header class="major">
      <h2>Individual Sponsors</h2>
      </header>
    //
      <div class="row uniform">
      <span class="image fit">
      <h3>Carl Gainor, Ph.D, JD</h3>
      </span>
      </div>
    header.major
        h2 Sponsors
        a.attendees-images(target="_blank" href='https://www.gilead.com/')
            img.attendees-images(src='z_images/logos/Gilead-Logo-Snip.jpg' alt='Gilead Logo' data-size=2)
        a.attendees-images(target="_blank" href='https://mlh.io/')
            img.attendees-images(src='z_images/logos/mlh-logo-color.png' alt='Major League Hacking (MLH) Logo' data-size=2)
        a.attendees-images(target="_blank" href='http://www.pharmacy.pitt.edu/')
            img.attendees-images(src='z_images/logos/pitt-pharm-logo.png' alt='Pitt School of Pharmacy Logo' data-size=2)
        a.attendees-images(target="_blank" href='https://enterprises.upmc.com/')
            img.attendees-images(src='z_images/logos/UPMC_Enterprises.png' alt='UPMC Enterprises Logo')
        a.attendees-images(target="_blank" href='https://www.wolframalpha.com/')
            img.attendees-images(src='z_images/logos/WolframAlpha.png' alt='Wolfram Alpha Logo')
        a.attendees-images(target="_blank" href='https://www.digitalocean.com/')
            img.attendees-images(src='z_images/logos/DO_Logo_Horizontal_Blue.png' alt='Digital Ocean Logo')
        a.attendees-images(target="_blank" href='https://pyrls.com/')
            img.attendees-images(src='z_images/logos/pyrls-main-lg.png' alt='Pyrls Logo')
        a.attendees-images(target="_blank" href='https://www.upmchealthplan.com/')
            img.attendees-images(src='z_images/logos/UPMC_3_HealthPlan_H_RGB.jpg' alt='UPMC Health Plan Logo')
        a.attendees-images(target="_blank" href='https://ctsi.pitt.edu/')
            img.attendees-images(src='z_images/logos/ctsi_color.png' alt='Pitt Clinical and Translational Science Institute (CTSI) Logo')
        a.attendees-images(target="_blank" href='https://www.patientsafetytech.com/')
            img.attendees-images(src='z_images/logos/Patient-Safety-Technology-Challenge.jpg' alt='Patient Safety Technology Challenge Logo')