section#challenges.main
    .spotlight
        .content
            header.major
                h2 Tracks
                //h3(style="color:#bf29c9;font-size:1.75em;font-weight:initial") Coming Soon...
            header.minor
                h3 Big data and Machine Learning
                p Data is being generated at an incredible rate. Though these data sets may have been created for a specific purpose, leveraging data to develop other products is an incredible opportunity. Managing data has been more and more difficult. With the advent of machine learning, these data can be leveraged as training sets to automatically process data. Our challenge to you is to find the ways that big data and machine learning to make advances in healthcare.
            header.minor
                h3 Governance and Ethics in AI
                p Artificial Intelligence is increasingly becoming more involved in healthcare. With this integration, questions and barriers need to start arising to ensure accountability and safety for private information. Our challenge to you is to find ways to protect patient’s private information and ensure good use of technology for the benefit of all.
            header.minor
                h3 Women’s Health
                p Women experience health issues unique to themselves – and conditions that affect both men and women can have additional complications when you’re a woman. Additional inequalities exist that results in women experiencing decreased health outcomes through diagnosis and treatment. Our challenge to you is to utilize technology to improve healthcare outcomes for women.
            header.minor
                h3 Health Literacy
                p Health literacy has been a major point of contention in past years. Many announcements from the scientific community have had mixed uptake. Common issues have revolved around COVID, vaccines, and infection prevention. However, improving health literacy is a long standing opportunity in the US. Complicating the situation, there is a significant amount of information online that is created to sell products that have no scientific basis. Our challenge to you is to create robust solutions to help improve health literacy for COVID and beyond.
            header.minor
                h3 Games for Health
                p Most people find gaming fun, but learning not. Our challenge to you is to gamify learning about topics in healthcare.
            header.minor
                h3 Supporting Caregivers
                p Many patients require assistance from caregivers/family members in performing activities of daily living, tasks that are essential in leading a quality life. Healthcare is primarily focused on providing assistance to said patients. However, we often fail to address the caregiver role and the additional stress that comes with the responsibility. Our challenge to you is to utilize technology to provide support for caregivers to ensure that both they and the patient have the best possible quality of life.
            header.minor
                h3 Patient safety
                p Do no harm. Medical errors are responsible for more than 250,000 deaths annually, making it the third leading cause of death annually in the United States. Misread instructions, incorrect doses, and wrong site surgeries are all examples of medical errors that can occur across the healthcare continuum. Supporting the practice and workflow of clinicians, using data to double-check processes, and empowering patients to play a proactive role in their care can improve care. Our challenge to you is to leverage technology to improve the safety of patients.
            header.minor
                h3 Sustainability in Healthcare
                p Climate change and pollution are major problems impacting our world right now. Unfortunately, the healthcare industry is a major driver of waste and pollutants. Our challenge to you is to mitigate pollution and improve healthcare by utilizing technology.
            header.minor
                h3 Burnout in Healthcare Workers
                p Many workers in healthcare face burnout due to multiple factors, such as societal, cultural, and overall workload. This burnout can lead to lower-quality care and medical errors for patients. Our challenge to you is to leverage technology to improve healthcare workers' experience and prevent burnout.
            header.minor
                h3 Patient Engagement
                p Patients experience better outcomes if they understand what is happening with their health. Our challenge to you is to utilize technology to help patients stay engaged in their health.
