section#challenges.main.special
    .spotlight
        .content
            header.major
                h2 Tracks
            header.minor
                h3 Patient Engagement
                p Patients (and the people that take care of them) experience better outcomes if they understand what is happening with their health. Often, engaging in our medical system can be a confusing, scary, expensive, and gate-kept experience - and clinical trials are no exception. Most people simply don’t “speak the language” of medicine. Layered on top of that, sometimes people simply don’t abide by their care plan. They may not understand it, it may have too much burden or maybe they just don’t like going to the doctor. How might you help patients stay engaged via technology?
            header.minor
                h3 Health Equity and Diversity
                p Racial, socioeconomic, and geographic factors play a part in who has reliable and consistent access to healthcare. Ensuring equitable access is not only the right thing to do but allows a broader portion of society to get access to promising new potential therapies, and contribute to scientific advancement. Think about how technology can help open doors beyond typical wealthy and white clinical trial participants. Be mindful that language barriers and technological proficiency impact many communities.
            header.minor
                h3 Where Digital Doesn’t Work
                p It might seem a bit counterintuitive to consider solutions outside of digital for a Hackathon focused on digital health, but it’s critical to consider serving patients that may not have access to smartphones, wi-fi or laptops - or may not possess technological literacy. How do we implement solutions to keep patients engaged and reach out to diverse communities when the commonly used tech might be limited? Think about things like - underserved patients without devices, rural communities without reliable internet, patients with limited or no proficiency in English, etc.
            header.minor
                h3 Patient Safety
                p Do no harm. Medical errors are responsible for more than 250,000 deaths each year, making it the third leading cause of death annually in the United States. Misread instructions, incorrect doses, and wrong site surgeries are all examples of medical error that can occur across the healthcare continuum. Supporting the practice and workflow of clinicians, using data to double check processes, and empowering patients to play a proactive role in their care can improve care. Our challenge to you is to leverage technology to improve the safety of patients.
            header.minor
                h3 Lifestyle as Medicine
                p Patients spend 99.9% of their lives outside of healthcare clinics. Our challenge to you is to incorporate activities of daily living such as nutrition, sleep, mental health, and exercise as key components of both health and everyday life.
            header.minor
                h3 Increasing Health Literacy
                p Health literacy has been a major point of contention in past years. Many announcements from the scientific community have had mixed uptake. Common issues have revolved around COVID, vaccines, and infection prevention. However, improving health literacy is a long standing opportunity in the US. Complicating the situation, there is a significant amount of information online that is created to sell products that have no scientific basis. Our challenge to you is to create robust solutions to help improve health literacy for COVID and beyond.
            header.minor
                h3 Boosting Vaccination Uptake / Experience
                p Vaccinations are one of the most widespread opportunities to prevent illness and maintain health. Currently the experience of getting vaccines can be disjointed or logistical nightmare. Our challenge to you is to ensure that specific patient populations, specific vaccine boosters, or the experience of getting vaccines are made as smooth as possible.
            header.minor
                h3 Going Face-to-facetime
                p Healthcare used to be synchronous, face-to-face, or a game of phone tag. Our challenge to you is to create future of healthcare when we leverage technology to fit the lives of patients and clinicians instead of the other way around.
            header.minor
                h3 Big Data and Machine Learning
                p Data is being generated at an incredible rate. Though these data sets may have been created for a specific purpose, leveraging data to develop other products is an incredible opportunity. Managing data has been more and more difficult. With the advent of machine learning, these data can be leveraged as training sets to automatically process data. Our challenge to you is to find the ways that big data and machine learning to make advances in healthcare.
            header.minor
                h3 Virtual Medical Simulation
                p In the past year, clinicians, patients, and healthcare students have shifted in-person experiences canceled due to the risk of COVID spread. Virtual medical simulations have become more and more important in helping multiple stakeholders when an in-person option isn’t available. Other fields have leveraged virtual simulations for years. Flight simulators have helped pilots and astronauts gain crucial experience and robotic surgery simulators have helped surgeons train their hands without a human under the knife. Our challenge to you is to find new ways can we leverage technology to help clinicians, patients, or learners leverage more realities.

