section#challenges.main
    .spotlight
        .content
            header.major
                h2 Tracks
                h3(style="color:#bf29c9;font-size:1.75em;font-weight:initial") Coming Soon...
            header.minor
            h3(style="font-weight: 500;") The Pitt Challenge 2022 Tracks
            ul(style="padding-left: 5%;")
                li Patient Engagement
                li Health Equity and Diversity
                li Where Digital Doesn’t Work
                li Patient Safety
                li Lifestyle as Medicine
                li Increasing Health Literacy
                li Boosting Vaccination Uptake / Experience
                li Going Face-to-facetime
                li Big Data and Machine Learning
                li Virtual Medical Simulation
            a(href="z_files/pitt-challenge-2022-report.pdf" target="_blank", style="text-decoration: underline; font-weight: 500; font-size: 1em;")
                | For more information, check out the 2022 Pitt Challenge Report!
