@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

// Breakpoints.

@include breakpoints((
        xlarge: (1281px, 1680px),
        large: (981px, 1280px),
        medium: (737px, 980px),
        small: (481px, 736px),
        xsmall: (361px, 480px),
        xxsmall: (null, 360px)
));

// Mixins.

@mixin color($p) {
  @include color-typography($p);
  @include color-box($p);
  @include color-button($p);
  @include color-form($p);
  @include color-icon($p);
  @include color-list($p);
  @include color-section($p);
  @include color-table($p);
  @include color-spotlight($p);
}

// Base.

@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/row';
@import 'components/box';
@import 'components/button';
@import 'components/form';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/actions';
@import 'components/icons';
@import 'components/section';
@import 'components/table';
@import 'components/features';
@import 'components/statistics';
@import 'components/spotlight';

// Layout.

@import 'layout/header';
@import 'layout/nav';
@import 'layout/main';
@import 'layout/footer';
@import 'layout/wrapper';


body {
  min-width: 100%;
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10001;
  border-bottom-color: transparent;
}

a.attendees-images{
  display: inline-block;
  img.attendees-images {
    padding: 8px;
    max-width: calc(100% - (32px * 2));
  }
}

.videoWrapper {
  aspect-ratio: 2/1;

  iframe.video {
    width: 100%;
    height: 100%;
  }
}

.grandPrices {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 24px 0;
  *{
    font-size: 1.25em;
    font-weight: 500;
  }
}

header.minor{
  h3{
    text-align: left;
    font-weight: 400;
  }
  p{
    text-align: justify;
  }
}

#ourTeam {
  #teamMembers {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 24px 0;

    .teamMember {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 12px 36px;
      //max-width: 100%;
      //width: 100%;

      &.break {
        flex-basis: 100%;
        height: 0;
      }

      img{
        position: relative;
        max-width: 200px;
        width: 20vw;
        min-width: 100px;
        height: auto;
      }
      h3{
        text-align: center;
        font-weight: 400;
        font-size: 1em;
      }
      p{
        text-align: justify;
      }
    }
  }
}